.controls-container {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;

  .toggle-list-btn {
    width: 200px;
    height: 36px;
    margin: 0 5px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.canvas-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  .konvaObstacleCanvas {
    border: 1px solid black;
    width: 640px;
    height: 640px;
    display: block;
  }
}