<div class="controls-container">
  <!-- Zoom Controls -->
  <app-zoom-controls 
  (zoomIn)="zoomIn()" 
  (zoomOut)="zoomOut()" 
  (moveUp)="moveUp()" 
  (moveLeft)="moveLeft()" 
  (moveRight)="moveRight()" 
  (moveDown)="moveDown()" 
  (resetZoom)="resetZoom()" 
  (toggleGrid)="toggleGrid()">
  </app-zoom-controls>

  <!-- Toggle Layer -->
  <app-toggle-layer
    *ngFor="let layer of layers"
    [name]="layer.name"
    [layer]="layer.layer"
    (toggleVisibility)="toggleLayerVisibility($event)">
  </app-toggle-layer>
</div>

<div class="canvas-container">
  <!-- Konva Canvas -->
  <div
    [id]="konvaHeatmapCanvasId"
    class="konvaHeatmapCanvas">
  </div>

  <!-- Simpleheat Canvas -->
  <canvas
    [id]="simpleHeatCanvasId"
    class="simpleHeatCanvas"
    style="display: none;">
  </canvas>

  <!-- Tooltip Component -->
  <app-tooltip></app-tooltip>

  <!-- Layer List -->
  <app-layer-list
    [layers]="layers"
    (moveLayerToTop)="moveLayerToTop($event)" 
    (toggleVisibility)="toggleLayerVisibility($event)">
  </app-layer-list>
</div>