<div class="controls-container">
  <!-- Zoom Controls -->
  <app-zoom-controls 
  (zoomIn)="zoomIn()" 
  (zoomOut)="zoomOut()" 
  (moveUp)="moveUp()" 
  (moveLeft)="moveLeft()" 
  (moveRight)="moveRight()" 
  (moveDown)="moveDown()" 
  (resetZoom)="resetZoom()" 
  (toggleGrid)="toggleGrid()">
  </app-zoom-controls>

  <!-- Toggle Layer -->
  <app-toggle-layer
    *ngFor="let layer of layers"
    [label]="layer.label"
    [layer]="layer.layer"
    (toggleVisibility)="toggleLayerVisibility($event)">
  </app-toggle-layer>

  <!-- Toggle Button for Layer List -->
  <button
    (click)="toggleLayerList()" class="toggle-list-btn">
    {{ isLayerListVisible ? '⊟' : '⊞' }} Layer List
  </button>
</div>

<div class="canvas-container">
  <!-- Konva Canvas -->
  <div
    [id]="konvaHeatmapCanvasId"
    class="konvaHeatmapCanvas">
  </div>

  <!-- Simpleheat Canvas -->
  <canvas
    [id]="simpleHeatCanvasId"
    class="simpleHeatCanvas"
    style="display: none;">
  </canvas>

  <!-- Gradient Indicator -->
  <app-heatmap-indicator></app-heatmap-indicator>
  
  <!-- Tooltip Component -->
  <app-tooltip></app-tooltip>

  <!-- Layer List -->
  <app-layer-list
    *ngIf="isLayerListVisible"
    [layers]="layers"
    (moveLayerToTop)="moveLayerToTop($event)" 
    (toggleVisibility)="toggleLayerVisibility($event)">
  </app-layer-list>
</div>