<button class="menu-icon" (click)="toggleSidebar()">
  &#9776;
</button>

<div class="sidebar" [class.closed]="!sidebarOpen">
  <button class="close-btn" (click)="toggleSidebar()">✖</button>

  <h3>Features</h3>
  <ul>
    <li>
      <h4>Obstacle</h4>
      <ul>
        <li><a routerLink="/konva-obstacle">2D Konva</a></li>
        <li><a routerLink="/babylon-obstacle">3D Babylon</a></li>
        <li><a routerLink="/obstacle-preview">Obstacle 3D preview</a></li>
      </ul>
    </li>
    <li>
      <h4>Heatmap</h4>
      <ul>
        <li><a routerLink="/heatmap-obstacle">Simpleheat heatmap</a></li>
      </ul>
    </li>
    <!-- <li>
      <h4>PDF generation</h4>
      <ul>
        <li><a routerLink="/pdf-generation">PDF generation</a></li>
      </ul>
    </li> -->
  </ul>
</div>