<div class="controls-container">
  <!-- Shape Controls -->
  <app-shape-controls
    [currentType]="currentType"
    (shapeSelected)="onShapeSelected($event)"
  ></app-shape-controls>

  <!-- Zoom Controls -->
  <app-zoom-controls 
    (zoomIn)="zoomIn()" 
    (zoomOut)="zoomOut()" 
    (moveUp)="moveUp()" 
    (moveLeft)="moveLeft()" 
    (moveRight)="moveRight()" 
    (moveDown)="moveDown()" 
    (resetZoom)="resetZoom()" 
    (toggleGrid)="toggleGrid()">
  </app-zoom-controls>

  <!-- Toggle Button for Obstacle List -->
  <button
    (click)="toggleObstacleList()" class="toggle-list-btn">
    {{ isObstacleListVisible ? '⊟' : '⊞' }} Obstacle List
  </button>
</div>

<div class="canvas-container">

  <!-- Konva Canvas -->
  <div
    [id]="konvaObstacleCanvasId"
    class="konvaObstacleCanvas"
  ></div>

  <!-- Tooltip Component -->
  <app-tooltip></app-tooltip>
  
  <!-- Obstacle List -->
  <app-obstacle-list
    *ngIf="isObstacleListVisible"
    [obstacleList]="obstacles$ | async" 
    (selectObstacle)="selectObstacle($event)"
    (deleteObstacle)="deleteObstacle($event)">
  </app-obstacle-list>
</div>

<!-- Popup Overlay Component -->
<app-popup-overlay *ngIf="isFormVisible" (close)="closeEditForm()"></app-popup-overlay>

<!-- Edit Form Component -->
<app-edit-form *ngIf="isFormVisible" [shapeType]="currentType"></app-edit-form>