.canvas-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  #konvaCanvas {
    border: 1px solid black;
    width: 640px;
    height: 640px;
    display: block;
  }
}