.editor-container {
  display: flex;

  .konva-section {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }

  .babylon-section {
    width: 640px;
    height: 640px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: top right;
    transform: scale(0.5);
    margin-top: 70px;
    margin-left: -280px;

    &.scaled {
      transform: scale(1);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }

    .zoom-btn {
      margin: 6px;
      width: 36px;
      height: 36px;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      border: none;
      background-color: #000;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}